<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="EnvironmentType" value="awsqa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OrgId" value="50227" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IDM.DefaultUserType" value="recruitQa_user" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientCode" value="devraj" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="Persistence.DatabaseServers" value="intrhsql1q.corp.flp\RHQA1,14330" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="BaseUrl.ApplitrackLoginPage" value="http://qa.applitrack.com/devraj" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.ApplitrackLandingPage" value="http://qa.applitrack.com/devraj/onlineapp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.FrontlineUrl" value="https://app.frontlineeducation.com:443" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="usingGrid" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Feature Flags -->
    <add key="IDMEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SidekickEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- APIs -->
    <add key="ProductAccessApi" value="http://10.111.37.172:8089/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

   </appSettings>
</configuration>