<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="EnvironmentType" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
   
    <add key="BaseUrl.ApplitrackLoginPage" value="https://www.applitrack.com/devdan" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.ApplitrackLandingPage" value="https://www.applitrack.com/devdan/onlineapp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- Features -->
    <add key="IDMEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PersonalInfo.CollectSSN" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Employees.UsesEmployees" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThirdParty.Aesop.Enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
 
    
  </appSettings>
</configuration>