<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="EnvironmentType" value="stage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="BaseUrl.ApplitrackLoginPage" value="https://supersuitawsstage.flqa.net/select/?orgId=154307" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.ApplitrackLandingPage" value="https://stage2.applitrack.com/devannis/onlineapp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="usingGrid" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsJefferson" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SidekickEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
 
  </appSettings>
</configuration>