<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="RecruitConnectionStringTemplate" connectionString="Data Source=*DatabaseServer*;Persist Security Info=False;Initial Catalog=generalaspcom;User Id=generalasp.com;PASSWORD=Appl1Track$bread&amp;butter;Connection Lifetime=120;" />
  </connectionStrings>

  <appSettings file="..\..\..\AppSettingsSecrets.config">
    <!-- ****** Stuff  You Need to Worry About is HERE *******************-->

    <!-- Environment Variables -->
    <add key="EnvironmentType" value="prod" />
    <add key="IDM.DefaultUserType" value="recruit_user" />
    <add key="ClientCode" value="devraj" />
    <add key="OrgId" value="60481" />
    <add key="Persistence.DatabaseServers" value="PHLAPTSQL.aesopprod.com\APTPROD,14330|PHLAPTSQL2.aesopprod.com\APTPROD2,14331" />

    <!--Using Dictionary Names for URLs-->
    <add key="BaseUrl.ApplitrackLoginPage" value="https://www.applitrack.com/devraj" />
    <add key="BaseUrl.ApplitrackLandingPage" value="https://www.applitrack.com/devraj/onlineapp" />
    <add key="BaseUrl.FrontlineUrl" value="https://app.frontlineeducation.com:443"/>

    <!-- The Grid Value: false = local and true = Set driver for Grid Exection-->
    <add key="usingGrid" value="false" />
    <!-- For Local Runs
    <add key="usingGrid" value="true" />
    <add key="usingGrid" value="false" />
     -->
    
    <add key="BrowserType" value="Chrome" />
    <!-- Alternate Config Files
    <add key="BrowserType" value ="Firefox"/>
    <add key="BrowserType" value ="Chrome"/>
    <add key="BrowserType" value ="PhantomJS"/>
    -->

    <add key="UseImplicits" value="false" />
    <add key="BrowserSize" value="1920,1080" />   
    
    <add key="GridHub" value="https://selenium-rh.cicd.ss.frontlineeducation.com/wd/hub" />
    <add key="RemoteGridUserName" value="" />
    <add key="RemoteGridAccessKey" value="" />
    <add key="GridHubType" value="Local" />
    <add key="CaptureScreenShots" value="true" />
    <add key="GridScreenShotDir" value="C:\ScreenShots" />
    <add key="LocalScreenShotDir" value="C:\ScreenShots" />
    <add key="DelCookies" value="true" />
    <add key="TimeOut" value="120" />
    <add key="Def_WaitTimeOutSecs" value="120" />
    <add key="WaitForObjectSec" value="120" />
    <add key="PageLoadTimeoutMin" value="2" />
    <add key="PageLoadTimeoutSec" value="120" />
    <add key="ScripTimeOutMin" value="5" />
    <add key="ScripTimeOutSec" value="120" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="LoggingLevel" value="InformationOnly" />
    
    <!-- Extent Reports Folder and File Information-->
    <add key="ReportFolderLocation" value="C:\\logs" />
    <add key="ReportFileName" value="TestResults.html" />
    
    <!-- Extent X setup -->
    <add key="usingExtentX" value="false" />
    <add key="ExtentXProject" value="Applitrack" />
    <add key="ExtentXMongoUrl" value="mongodb://localhost" />
    
    <!-- APIs -->
    <add key="FCEmployeeApi" value="https://ecsandproxyawsstage.flqa.net/EmployeeApi/api" />
    <add key="IDMTokenApi" value="https://idgatewayawsstage.flqa.net" />
    <add key="ProductAccessApi" value="http://10.101.25.224:8089/api" />
   
    <add key="IDMSecret" value="jZ5_^7sQYBGevjNP" />
    
    <!-- Is this for Jefferson? -->
    <add key="IsJefferson" value="false" />
    
    <!-- Feature Flags -->
    <add key="PersonalInfo.CollectSSN" value="true" />
    <add key="Employees.UsesEmployees" value="true" />
    <add key="ThirdParty.Aesop.Enabled" value="true" />
    <add key="IDMEnabled" value="false" />
    <add key="SidekickEnabled" value="false" />
    
  <!-- ****** Stuff  You Need to Worry About ENDS HERE *******************-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Consul" publicKeyToken="20a6ad9a81df1d95" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.2.1" newVersion="0.7.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.1.0" newVersion="1.14.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.18.0.0" newVersion="4.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions.Core" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.18.0.0" newVersion="4.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.12.0" newVersion="4.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Model" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.37.0" newVersion="5.0.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.37.0" newVersion="5.0.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
