<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="EnvironmentType" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="BaseUrl.ApplitrackLoginPage" value="https://localhost/_source" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.ApplitrackLandingPage" value="https://localhost/_source/onlineapp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- IDM setup -->
    <add key="IDMEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- Sidekick Setup -->
    <add key="SidekickEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
</configuration>