<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="EnvironmentType" value="qa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OrgId" value="50227" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="BaseUrl.ApplitrackLoginPage" value="https://qa2.applitrack.com/devraj" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.ApplitrackLandingPage" value="https://qa2.applitrack.com/devraj/onlineapp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl.FrontlineUrl" value="https://app.frontlineeducation.com:443" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="IDMEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
 
  </appSettings>
</configuration>